---
import { PostFrontmatter } from 'src/types';
import PostList from "@components/PostList";
import BaseLayout from '@layouts/BaseLayout.astro';
import { MarkdownInstance, Page } from 'astro';

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob<PostFrontmatter>('./posts/*.md');
  allPosts = allPosts.sort(
    (a, b) => new Date(b.frontmatter.publication_date).valueOf() -
      new Date(a.frontmatter.publication_date).valueOf()
  );

  return paginate(allPosts, { pageSize: 2 });
}

export interface Props {
  page: Page<MarkdownInstance<PostFrontmatter>>;
}

const { page } = Astro.props as Props;
---

<BaseLayout>
  <main>
    <PostList posts={page.data} />
  </main>
</BaseLayout>