html {
  font-family: "Merriweather", serif;
  font-size: 22px;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  html {
    font-size: unset;
  }
}
img {
  max-width: 100%;
}

/* from Tailwind */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

blockquote {
  border-left: 4px solid gray;
  padding-left: 0.5em;
}

/* blockquote p::before { */
/*   content: "\201C"; */
/* } */
/**/
/* blockquote p::after { */
/*   content: "\201D"; */
/* } */
