---
import type { SEO } from "src/types";

import BaseLayout from "@/layouts/BaseLayout.astro";
import { defaultSeo } from "@/seo";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const seo: SEO = structuredClone(defaultSeo);
seo.description = "Oops, 404.";
seo.openGraph.title = seo.title;
seo.openGraph.description = seo.description;
seo.openGraph.url = canonicalURL.toString();
seo.openGraph.image = `${Astro.site?.href || "/"}images/banner.png`;
---

<BaseLayout seo={seo}>
  <main>404.</main>
</BaseLayout>
