---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        <i>
          Sorry if I burned your eyes. Please use <a
            href="https://darkreader.org/"
            target="_blank"
            rel="noreferrer">Dark Reader</a
          > (not sponsored). <a href="#styling">Too much styling for me.</a>
        </i>
      </p>

      <h1>👋 I'm exposing software.</h1>
      <p>Hello. Welcome in!</p>
      <p>
        I&rsquo;m An. I was born 2001 in Vietnam. I make software for a living
        since 2016. I started by making Minecraft servers, followed by web
        development, though I kind of not specialized in any specific area <i
          >(because that&rsquo;s boring. I&rsquo;d leave the interpretation up
          to you.)</i
        >
      </p>

      <h2>Showcase</h2>
      <ul>
        <li
          ><a href="https://streamcatch.live" target="_blank" rel="noreferrer"
            >StreamCatch, a YouTube Premiere for livestreams</a
          ></li
        >
        <li
          ><a
            href="https://github.com/nextauthjs/next-auth/pull/5240"
            target="_blank"
            rel="noreferrer">draft: feat: next-auth/expo</a
          ></li
        >
        <li
          ><a
            href="https://github.com/intagaming"
            target="_blank"
            rel="noreferrer">Casual GitHub profile.</a
          ></li
        >
      </ul>
      <p
        >Probably some more projects that are not up to my standard anymore.
        Those would probably end up in the form of articles on my <a
          href="/blog">blog</a
        > (if at all).</p
      >

      <h2>Contact</h2>
      <p
        >Email me at <a href="mailto:xuanan2001@pm.me">xuanan2001@pm.me</a>. I'm
        on Discord as <i>an7</i>. Here&rsquo;s my <a
          href="https://facebook.com/an.xuanhoang"
          target="_blank"
          rel="noreferrer">Facebook</a
        >.</p
      >

      <h2 id="styling">Why does this website looks like this?</h2>
      <p>Ah. Glad you asked.</p>
      <p>
        Traditionally this website looks jazzy just like any other
        &ldquo;modern&rdquo; website.
      </p>
      <p>
        Have you ever asked yourself, <i>&ldquo;Do I need anything?&rdquo;</i>
         How much styling do you need in your blog to get the point across?
      </p>
      <p>
        If I were to make a product landing page, this might not generate a
        single customer, but for a blog, especially after having to <a
          href="https://github.com/intagaming/strapi-blog"
          target="_blank"
          rel="noreferrer">remake</a
        > and <a
          href="https://github.com/intagaming/blog"
          target="_blank"
          rel="noreferrer">remake</a
        > and <a
          href="https://github.com/intagaming/blog2"
          target="_blank"
          rel="noreferrer">remake</a
        > and <a
          href="https://github.com/intagaming/hxann.com"
          target="_blank"
          rel="noreferrer">remake</a
        > my website? Yeah, I&rsquo;m good. No matter how perfect your code is,
        it will turn into a shitshow. Call it The Shitshow Principle.
      </p>
      <p>
        I was kicked in the nuts by <a
          href="https://motherfuckingwebsite.com/"
          target="_blank"
          rel="noreferrer">https://motherfuckingwebsite.com/</a
        >. There&rsquo;s a plethera of spinoffs but no thanks, this is it. I <b
          >will</b
        > leave most of the styling up to the browser.
      </p>
      <p>Now, you&rsquo;d probably asking,</p>
      <blockquote>
        <p
          >This is not it man. Gotta put in those dark background and bright
          text color and link color and :visited color and theme switching
          toggle and image placeholder and team-based seasonal reactions +
          comment section and parallax scrolling and smooth scrolling and smooth
          anchor links and typewriter effect and table of contents and click to
          copy and custom React components and centered content and a CMS, <b
            >man</b
          >.</p
        >
      </blockquote>
      <p>... Right.</p>
    </main>
    <Footer />
  </body></html
>
