---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>Hello and welcome!</h2>
      <p>
        I'm Tùng <small>(you can call me Seth if you can't pronouce that btw)</small>.
        I was born in 2000 in a typical middle-class family. 
      </p>

      </p>
        I'm specialized in Back-end developing, though I don't have any real-world experience yet.
        <i>(As to why I'm not a full stack developer, I'll probably explain that in a future blog post. Soon<sup>TM</sup>)</i>
      </p>

      <h2>Contact</h2>
      <p>
        Email me at <a href="mailto:sethetherald@duck.com">sethetherald@duck.com</a>.
      </p>

      <h2>Why does this website look so basic?</h2>
      <p>
        Well, this is a mere fork of my <a href="https://www.hxann.com">friend's page</a>.
      </p>

      <p>
        And although I do agree with his opinion on <a href="https://hxann.com/#styling">blog styling</a>,
        and that everyone should use <a href="https://darkreader.org/">Dark Reader</a> <small>(sponsor me pls)</small>,
        I believe people has the right to not get their eyes burned.
        I'm also a sucker for <a href="https://www.nordtheme.com/">Nord Theme</a>, so this is the result.
      </p>

      <h2>Why doesn't this website have Light Theme?</h2>
      <p>What are you, a psychopath?</p>

    </main>
    <Footer />
  </body>
</html>
