---
import NavBar, { NavBarEntry } from "@components/NavBar";
import Footer from "@components/Footer";
import "@fortawesome/fontawesome-free/css/all.css";

const navBarEntries: NavBarEntry[] = [
  {
    link: "/blog",
    title: "Blog",
  },
  {
    link: "/blog/pages/about",
    title: "About",
  },
  {
    link: "/blog/pages/contact",
    title: "Contact",
  }
];
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Astro Title Placeholder</title>

  <script is:inline>
    if (localStorage.theme === "dark" || (!('theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.classList.remove('dark');
      localStorage.setItem("theme", "light");
    }
  </script>

  <style>
    .dark {
      color-scheme: dark;
    }
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="flex flex-col min-h-screen">
    <NavBar client:load entries={navBarEntries} />
    <div class="flex-1 dark:bg-neutral-900">
      <slot />
    </div>
    <Footer />
  </div>
</body>

</html>