---
import NavBar, { NavBarEntry } from "@components/NavBar";
import Footer from "@components/Footer";
import "@fortawesome/fontawesome-free/css/all.css";

export interface Props {
}

const { } = Astro.props as Props;

const navBarEntries: NavBarEntry[] = [
  {
    slug: "about",
    title: "About",
  },
  {
    slug: "contact",
    title: "Contact",
  }
];
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Astro Title Placeholder</title>
</head>

<body>
  <div class="dark flex flex-col min-h-screen">
    <NavBar client:load entries={navBarEntries} />
    <div class="flex-1 dark:bg-neutral-900">
      <slot />
    </div>
    <Footer />
  </div>
</body>

</html>